.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #007bff;
}

.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
}

.sidebar h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar .row {
    margin-bottom: 20px;
}

.sidebar .col-3 {
    padding: 0 10px;
}

.siderbar input, .sidebar button {
    width: 100%;
    padding: 1px;
    font-size: 14px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: white;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}

h4 {
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #007bff;
}

th, td {
    padding: 12px;
    text-align: left;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}