.descriptionSearch .dropdown-menu {
    position: absolute;
    width: auto;
    min-width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 4px;
    padding: 0;
    margin-top: 0; 
    border: 1px solid black;
}

.descriptionSearch .dropdown-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    text-align: left;
    font-size: 14px;
}

.descriptionSearch .dropdown-item:hover {
    background-color: #444444;
    color: white;
}

.descriptionSearch input {
    border-radius: 4px;
}
