.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 100);
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    gap: 15px;
}

.navbar-nav .nav-link {
    font-size: 16px;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}